*{
  box-sizing: border-box;
  color: #555;
  font-family: 'Noto Serif TC', serif;
}
body{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ccc;
}
/* left */
.left{
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 10px;
  flex-grow: 1;
  max-width: 750px;

}
h1{
  text-align: center;
  letter-spacing: 15px;
}
/* 回到今天 */
.button.backToday{
  display: inline-block;
  border: 1px solid #ccc;
  padding: 5px 10px;
  font-family: 'Fredericka the Great', cursive;
  font-size: 16px;
}
/* Note List */
.noteList{
  list-style: none;
  padding: 0;
}
.noteList li{
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
.noteList input{
  display: none;
}
.noteList label{
  cursor: pointer;
}
.noteList input + label::before{
  content: "□";
  margin-right: 10px;
}
.noteList input:checked + label::before{
  content: "🐾";
}
.addNote{
  display: flex;
}
.addNote input[name="note"]{
  border:1px solid #ccc;
  padding: 10px;
  flex: 1;
  margin-right: 10px;
}
.addNote input[name="note"]:focus{
  border: 1px solid #abc;
  outline: 2px solid hsla(210, 25%, 73%,.3);
}
.addNote input[type="submit"]{
  padding: 10px;
  cursor: pointer;
  opacity: .7;
  background-color: #aaa;
  border: 1px solid #fff;
  color: #fff;
  letter-spacing: 1px;
  font-weight: bold;
}
.addNote input[type="submit"]:hover{
  opacity: 1;
}
.addNote input[type="submit"]:focus{
  outline: none;
}


/* main */
main{
  border: 1px solid #ccc;
  background-color: #fff;
  width: 750px;
}
main .img{
  height: 400px;
  background: #ccc;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  transition: .5s ease-in-out;
}
main .content{
  width: 700px;
  margin:auto;
}
.title{
  display: flex;
  width: 700px;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
}
.title>*{
  display: inline-block;
}
.title #year_month{
  text-align: center;
  line-height: 50px;
  font-size: 26px;
  font-weight: bold;
  font-family: 'Fredericka the Great', cursive;
  letter-spacing: 5px;
}
.button{
  outline: none;
  border: none;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  background: none;
  opacity: .5;
  cursor: pointer;
}
.button:hover{
  opacity: 1;
}
.list{
  display: flex;
  flex-wrap: wrap;
  width: 700px;

}
.list>.date{
  width: 100px;
  height: 50px;
  text-align: center;
}
/* 星期 */
.list.day .date{
  font-weight: 900;
  text-shadow: 1px 1px 3px #ccc;
}
/* 今天 */
.list>.date.today{
  text-shadow: 0 0 20px rgb(255, 0, 170),0 0 20px rgb(255, 240, 30),0 0 20px rgb(255, 238, 0);
}
/* 節日 */
.list>.date.festival{
  position: relative;
}
.list>.date.festival::after{
  content: attr(data-festival); 
  font-size: 14px;
  font-weight: 400;
  color: rgb(218, 136, 60);
  position: absolute;
  bottom:2px;
  left: 0;
  right: 0;
}
.list>.fadeout{
  opacity: .3;
}
/* 六日 */
.list .sun, .list .sat{
  font-weight:900;
}
.list .sun{
  color: red;
}
.list .sat{
  color: green;
}
