:root{
  --mainColor:rgb(93, 126, 95);
  --red: #e28686;
  --green: #87be53;
  --festival:#da883c;
  --todayShadow: 0 0 20px #ff00aa,0 0 20px #fff01e,0 0 20px #ffee00;
  --yellowShadow: 0 0 10px #fffb00,0 0 10px #fff01e,0 0 10px #ffee00;
  --haveNote:0 0 10px #e28686,0 0 10px #e28686,0 0 10px #e28686,0 0 20px #e28686;
  --border: 1px solid;
}

*{
  box-sizing: border-box;
  color: #555;
  font-family: 'Noto Serif TC', serif;
}
body{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--mainColor);
}
.button.leftBtn{
  display: inline-block;
  border: var(--border) #ccc;
  background: #fff;
  padding: 5px 10px;
  font-family: 'Fredericka the Great', cursive;
  font-size: 12px;
  position: fixed;
  left: 10px;
}
/* left */
.left{
  border:var(--border) var(--mainColor);
  background-color: #fff;
  padding: 10px;
  flex-grow: 1;
  max-width: 750px;
  min-width: 750px;
}
h1{
  text-align: center;
  letter-spacing: 15px;
}
/* 回到今天 */
.button.backToday{
  top: 15px;
}


/* Note List */
.noteList{
  list-style: none;
  padding: 0;
}
.noteList li{
  border-bottom:var(--border) #ccc;
  padding: 10px 0;
  /* display: flex; */
  display: none;
}
.noteList input{
  display: none;
}
.noteList label{
  cursor: pointer;
  flex: 1;
}
.noteList input + label::before{
  content: "□";
  margin-right: 10px;
}
.noteList input:checked + label::before{
  content: "🐾";
}
.addNote{
  display: flex;
}
.addNote input[name="note"]{
  border:var(--border) #ccc;
  padding: 10px;
  flex: 1;
  margin-right: 10px;
}

.addNote input[name="note"]:focus{
  border: var(--border) #abc;
  outline: 2px solid hsla(210, 25%, 73%,.3);
}
input:-webkit-autofill{
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
  -webkit-text-fill-color: #555;
}
input[type=text]:focus{
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
}
.addNote input[type="submit"]{
  padding: 10px;
  cursor: pointer;
  opacity: .7;
  border: var(--border) var(--green);
  background-color: #fff;
  color: var(--green);
  letter-spacing: 1px;
  font-weight: bold;
}
.addNote input[type="submit"]:hover{
  opacity: 1;
  background-color: var(--green);
  color: #fff;
}
.addNote input[type="submit"]:focus{
  outline: none;
}
.button.deleteBtn{
  display: inline-block;
  padding: 5px;
  border: var(--border) var(--red);
  color: var(--red);
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 12px;
}
.button.deleteBtn:hover{
  background-color: var(--red);
  color: #fff;

}

/* main */
main{
  border: var(--border) var(--mainColor);
  background-color: #fff;
  width: 750px;
}
main .img{
  height: 400px;
  background: #ccc;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  transition: .5s ease-in-out;
}
main .content{
  width: 700px;
  margin:auto;
}
.title{
  display: flex;
  width: 700px;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
}
.title>*{
  display: inline-block;
}
.title #year_month{
  text-align: center;
  line-height: 50px;
  font-size: 26px;
  font-weight: bold;
  font-family: 'Fredericka the Great', cursive;
  letter-spacing: 5px;
  width: 265px;
}
.button{
  outline: none;
  border: none;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  background: none;
  opacity: .5;
  cursor: pointer;
}
.button:hover{
  opacity: 1;
}
.list{
  display: flex;
  flex-wrap: wrap;
  width: 700px;

}
.list>.date{
  width: 100px;
  height: 50px;
  text-align: center;
}
/* 星期 */
.list.day .date{
  font-weight: 900;
  text-shadow: 1px 1px 3px #ccc;
}
.list .pointer{
  cursor: pointer;
} 
.list .pointer:hover{
  text-shadow:var(--yellowShadow);
}
/* 今天 */
.list>.date.today{
  text-shadow:var(--todayShadow);
}
/* 節日 */
.list>.date.festival{
  position: relative;
}
.list>.date.festival::after{
  content: attr(data-festival); 
  font-size: 14px;
  font-weight: 400;
  color: var(--festival);
  position: absolute;
  bottom:2px;
  left: 0;
  right: 0;
}
.list>.fadeout{
  opacity: .3;
}
/* 六日 */
.list .sun, .list .sat{
  font-weight:900;
}
.list .sun{
  color: var(--red);
}
.list .sat{
  color: var(--green);
}
/* 選取的日子 */
.list>.choiceDate{
  text-shadow: var(--yellowShadow)!important;
}
/*有代辦事項的日子*/
.list>.haveNote{
  text-shadow: var(--haveNote);
}
/* styleMenu */
.button.styleMenuBtn{
  top: 50px;
}
.styleMenu{
  width: 150px;
  position: fixed;
  background-color: #FFF;
  top: 85px;
  left: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 10px solid rgba(255, 255, 255,.5);
  border-radius: 5%;
  background-clip: padding-box;
  transform: translateX(-120%);
  transition: .5s ease-in-out;
}
.styleMenu h3{
  text-align: center;
  margin: 10px auto;
}
.styleMenu p{
  margin: 5px;
}
.styleMenu input[type="color" i]{
  border: none;
  padding: 1px;
  width: calc(100% - 22px);
}
span.open{
  opacity: 1;
}
.styleMenu.open{
  transform: translateX(0);
}
